body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Esto asegura que el body tenga al menos la altura de la ventana */
    width: 100%; /* Esto asegura que el body ocupe todo el ancho de la pantalla */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(217, 255, 220, 1);
    text-align: center;
    border-radius: 5px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.header {
    width: 100%;
    height: 140px;
    background-color: rgba(118, 204, 164, 1);
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin-bottom: auto;
}

.logo img {
    margin-top: 30px;
    width: 80px;
    height: 70px;
    border-radius: 30%;
    background-color: rgba(118, 204, 164, 1);
}


.sidebar .usuario {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(118, 204, 164, 1);
    border-radius: 5px;
    margin: 10px;
    color: var(--color-texto);
    overflow: hidden; /* Evita que el contenido salga del contenedor */
    white-space: nowrap; /* Evita que el texto se divida en varias lineas */
    
}


.sidebar .usuario img {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    margin-right: 10px; 
}

.sidebar .usuario .info-usuario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-overflow: ellipsis; /* Añade puntos suspensivos (...) si el texto es demasiado largo */
    white-space: nowrap; /* Mantiene el texto en una sola linea */
    max-width: 70%;/* Ajusta el ancho maximo segun el espacio que tengas */
}

.sidebar .usuario .nombre {
    font-size: 14px;
    font-weight: bold;
    color: white; 
}

.sidebar .usuario .email {
    font-size: 9px;
    color: white; 
    opacity: 0.8;
}

.sidebar h1 {
    color: white;
    background-color: rgba(118, 204, 164, 1);
    margin: 0;
}

.sidebar a {
    color: rgba(118, 204, 164, 1);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    display: block;
    background-color: rgba(217, 255, 220, 1);
    margin: 10px 0;
    font-size: 1rem;
}

.sidebar a:hover {
    background-color: rgba(118, 204, 164, 1);
    color: white;
}

.sidebar .cerrar-sesion a {
    color: pink;
    display: block;
    margin-top: auto;
}

.modulo {
    margin-top: auto;
}

.contenido {
    margin-left: 200px;
    padding: 20px;
}

.anuncios {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    border-radius: 2px;
    text-align: center;
    color: white;
}

.contenido h2 {
    text-size-adjust: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

.ventanas {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    min-width: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.seccion h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #34495e;
}

.seccion h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.ingresos {
    color: #4CAF50;/*verde*/
}

.egresos {
    color: #F44336;/*rojo*/
}

.balance {
    color: #2291F2;/*azul*/
}



.titulo {
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
}

.valor {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/* Media Query para responsive*/
@media(max-width: 768px){
    .sidebar {
        width: 130px; /* Reduce el ancho de la sidebar en pantallas móviles */
    }

    .header {
        width: 115px; /* Ajusta el ancho de la cabecera en pantallas pequeñas */
    }

    .sidebar a {
        font-size: 0.8rem;
        padding: 8px; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    }

    .contenido {
        margin-left: 140px; /* Ajusta el margen de la parte principal al tamaño de la sidebar */
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 130px; /* Reduce el ancho de la sidebar en pantallas móviles */
    }

    .header {
        width: 115px; /* Ajusta el ancho de la cabecera en pantallas pequeñas */
    }

    .sidebar a {
        font-size: 0.8rem;
        padding: 8px; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    }

    .contenido {
        margin-left: 140px; /* Ajusta el margen de la parte principal al tamaño de la sidebar */
    }

}
