<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                               http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- You can define your servlets, filters, listeners, etc., here -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.mycompany.easyshopproyecto.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesServlet</servlet-name>
        <servlet-class>com.mycompany.easyshopproyecto.servlets.ClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductosServlet</servlet-name>
        <servlet-class>com.mycompany.easyshopproyecto.servlets.ProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedoresServlet</servlet-name>
        <servlet-class>com.mycompany.easyshopproyecto.servlets.ProveedoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaVentaServlet</servlet-name>
        <servlet-class>com.mycompany.easyshopproyecto.servlets.NuevaVentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaCompraServlet</servlet-name>
        <servlet-class>com.mycompany.easyshopproyecto.servlets.NuevaCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturasServlet</servlet-name>
        <servlet-class>com.mycompany.easyshopproyecto.servlets.FacturasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.easyshopproyecto.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosServlet</servlet-name>
        <servlet-class>com.mycompany.easyshopproyecto.servlets.UsuariosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesServlet</servlet-name>
        <url-pattern>/ClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductosServlet</servlet-name>
        <url-pattern>/ProductosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedoresServlet</servlet-name>
        <url-pattern>/ProveedoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaVentaServlet</servlet-name>
        <url-pattern>/NuevaVentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaCompraServlet</servlet-name>
        <url-pattern>/NuevaCompraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturasServlet</servlet-name>
        <url-pattern>/FacturasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosServlet</servlet-name>
        <url-pattern>/UsuariosServlet</url-pattern>
    </servlet-mapping>
</web-app>
